@import "tailwindcss";

@theme {
  --color-amethyst: #975BCF;
  --color-slateBlue: #7C53C5;
  --color-plumpPurple: #5649B6;
  --color-russianViolet: #30204C;
  --color-darkGunmetal: #211D31;
  --color-pistachio: #8EDE5F;
  --color-raisinBlack: #14121E;

  --radius-md: 5px;

  --background-pattern: url('/assets/pattern.svg');

  --shadow-padrao: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

  --gradient-padrao: linear-gradient(to bottom right, #59168b, #30204C);

}

@layer utilities {
  .bg-gradient-padrao {
    background: var(--gradient-padrao);
  }
}


/* Variáveis globais ficam no :root */
:root {
  --font-base: "Poppins", sans-serif;
}



@layer base {

*{
    @apply transition duration-350 ease-in-out;
  }
}

/* Estilo geral do app fica no body */
body {
  font-family: var(--font-base);
  font-weight: 400;
  font-style: normal;

  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #975BCF;
  background: linear-gradient(180deg, rgb(151, 91, 207) 1%, rgb(125, 83, 197) 50%, rgb(85, 72, 182) 100%);
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

  50% {
    transform: translateY(-30px) scale(1.2);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px) scale(0.8);
  }
}

.animate-float {
  animation: float 1.5s ease-out forwards;
}

.hover\:scale-102:hover {
  transform: scale(1.02);
}


@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.25s ease-out;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fade-out 0.25s ease-out forwards;
}




/* Cortes nos cantos */
.cut-right-top {
  clip-path: polygon(0 0, 95% 0, 100% 10%, 100% 100%, 0 100%);

}

.cut-right-bottom {
  clip-path: polygon(100% 0, 100% 90%, 95% 100%, 0 100%, 0 0);
}

.cut-left-top {
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 10%);

}

.cut-left-bottom {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 5% 100%, 0 90%);
}

/* Hover e animação */
.answer-button {
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.answer-button:hover {
  transform: scale(1.03);

}

/* Efeito Shiny - pode ser reutilizado em qualquer componente */
.shiny-container {
  position: relative;
  overflow: hidden;
}

.shiny-container::before {
  content: "";
  position: absolute;
  top: calc(var(--y, 0) * 1px - 150px);
  left: calc(var(--x, 0) * 1px - 150px);
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, rgba(147, 51, 234, 0.4), transparent 70%);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 0;
}

.shiny-container:hover::before {
  opacity: 1;
}